/**
 * Info Boxes Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.cp-info-boxes {
  @extend %section-margins;
  margin-bottom: auto;

  p {
    color: $grey;
  }

  .h3 {
    line-height: 30px;
    color: $grey;
  }

  .cp-info-boxes__col {
    margin-bottom: 32px;
  }

  @include screen-md-up {

    .cp-info-boxes__col {
      margin-bottom: 50px;

      &:nth-of-type(n+2) {
        margin-bottom: auto;
      }
    }

  }

  @include screen-sm-up {

    /*Dev Note: since all but the block grid-style layouts don't use padding, just add an exception here*/
    .row .cp-info-boxes__col[class*="col"] {
      padding-right: $grid-gutter-width/2;
      padding-left: $grid-gutter-width/2;
    }

  }

}