/**
 * cta Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.cp-cta {
  @extend %section-padding;
  padding: 3em 0;

  .cp-cta__container-bg {
    position: relative;
    padding: 10em 6.85714285714286em 13.35714285714286em 6.85714285714286em;
    background-color: $peach;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: $peach;
      z-index: 1;
    }

    @include screen-md {
      padding: 5em 2.857143em;
    }

    @include screen-sm {
      padding: 2em 1em;
    }

    .container {
      z-index: 1;
    }
  }

  .cp-cta__heading {
    @extend %h5;
    @extend %serif;
  }

  .cp-cta__caption {

    p {
      color: $white;
    }

    button, .btn, .button {
      margin-top: 3.14285714285714em;
    }
  }

  .cp-cta__single {
    width: 42%;

    @include screen-md {
      width: 60%;
    }

    @include screen-sm {
      width: 100%;
      margin: auto;
    }
  }

  .cp-cta__two-column {
    .cp-cta__heading {
      margin-top: 0;
    }
  }

}