/**
 * Base styles
 */

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100vh;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include screen-xl-up {
    font-size: 85%;
  }
}

body {
  color: $text-dark;
  background-color: white;
  font-size: 16px;
  font-size: 1.6em;
  line-height: 1.4;
  margin: 0 3em;

  @include screen-sm {
    margin: auto;
  }

  /**
   * Set after content to use for easily checking
   * mobile or desktop state. Hidden from view and
   * screen readers because it's purely for javascript.
   * Check app.js for more info
   */
  &::after {
    content: 'desktop';
    display: none;

    @include screen-nav-mobile {
      content: 'mobile';
    }
  }
}

address {
  @extend %p;
  @extend %sans-serif;
  font-style: normal;
}

blockquote {
  display: flex;
  width: 100%;
  margin: auto;
  @extend %serif;
  font-weight: $text-normal;
  @include font-size(32);
  line-height: 55px;
  line-height: 1.71875;

  @include screen-sm {
    font-size: 1.3em;
  }

  p, cite {
    margin-top: 0;
    margin-bottom: 0;
  }

  cite {
    @extend %p;
    color: inherit;
  }

  p {
    color: inherit;
  }
}

dd {
  margin-left: initial;
}

.main {
  padding-top: 3em;
}

::selection {
  text-shadow: none;
  color: $selection;
  background: $selection-bg;
}

::-moz-selection {
  text-shadow: none;
  color: $selection;
  background: $selection-bg;
}
