/**
 * Typography
 */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Montserrat:300,300i,400,400i,500');

// Sans serif classes
%sans-serif {
  font-family: 'Montserrat', sans-serif;
}

%serif {
  font-family: 'Libre Baskerville', serif;
}

.sans-serif {
  @extend %sans-serif;
}

.serif {
  @extend %serif;
}

a {
  color: $link-color;
  text-decoration: $link-hover-decoration;
  transition: all 0.10s ease-in-out;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

.field-title {
  @extend %sans-serif;
  font-size: 0.875em;
  line-height: 2;
  color: $text-dark;
}

.quote {
  @extend %serif;
  font-size: 2em;
  line-height: 1.718;
}

.cp__title-underline {
  position: relative;
  &::after {
    display: inline-block;
    content: "";
    border-top: .2em solid black;
    width: 10em;
    position: absolute;
    top: calc(100% + .5em);
    left: 0;
    max-width: 100%;
  }
}

.h0, h1, .h1, h3, .h3, p, .p, button, .button, .menu-item {
  @extend %sans-serif;
}

.h2, h2, .h4, h4, .h5, h5, h6, .h6 {
  @extend %serif;
}

%h0 {
  @include font-size(85);
  font-weight: $text-bold;
  letter-spacing: 10.63px;
  line-height: 103px;
  line-height: 1.21176470588235;
  text-transform: uppercase;

  @include screen-md {
    @include font-size(60);
    line-height: 72px;
    line-height: 1.21176470588235;
    letter-spacing: 1px;
  }
}

.hero {
  @extend %h0;
  color: $black;
}

%h1 {
  font-size: 1.125em;
  font-weight: $text-bold;
  line-height: 1.38;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: normal;
  color: $black;
}

h1,
.h1 {
  @extend %h1;
}

%h2 {
  font-size: 1.875em;
  font-weight: $text-normal;
  line-height: 1.33;
}

h2,
.h2 {
  @extend %h2;
}

%h3 {
  @include font-size(18);
  font-weight: $text-normal;
  text-transform: uppercase;
  line-height: 22px;
  line-height: 1.22222222222222;
  letter-spacing: 6px;
}

h3,
.h3 {
  @extend %h3;
}

%h4 {
  font-size: 1.5625em;
  font-weight: $text-normal;
  line-height: 1.36;
}

h4,
.h4 {
  @extend %h4;
}

%h5 {
  @include font-size(45);
  font-weight: $text-normal;
  line-height: 55px;
  line-height: 1.22222222222222;

  @include screen-sm {
    font-size: 2em;//Pulled this from cta.scss
  }
}

h5,
.h5 {
  @extend %h5;
}

%h6 {
  font-size: 1.25em;
  font-weight: $text-normal;
  line-height: 1.7;
}

h6,
.h6 {
  @extend %h6;
}

%p {
  @include font-size(16);
  font-weight: $text-semi;
  color: $grey;
  line-height: 28px;
  line-height: 1.75;
}

p, .p {
  @extend %p;
}

%small {
  @include font-size(14);
  font-weight: $text-normal;
  line-height: 28px;
  line-height: 2;
}

small, .small {
}