/**
 * Form Template
 */

.page-template-template-form-template {

  .form-template__feature {
    position: relative;
    min-height: 50vh;

    svg {
      width: 100%;
      height: auto;
      margin: auto;
    }
  }

  .form-template__feature__figcaption {
    margin-top: 68px;
    margin-right: auto;
    margin-left: auto;
    height: 103px;
    width: 484px;
  }

  .hentry {

    .gform_title,
    .gform_footer {
      margin-bottom: 25px;
    }

    .gform_title {
      font-weight: $text-bold;
    }

    .gfield_label {
      position: initial;
      top: initial;
      left: initial;
      @include font-size(14);
      line-height: 28px;
      line-height: 2;
      letter-spacing: initial;
      font-weight: $text-normal;
      text-transform: initial;
    }

    .gfield {
      margin-bottom: 4px;

      &.col {
        margin-left: auto;
        margin-right: auto;
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea {
        border: solid 1px $grey;
        background-color: $white;
      }
    }

    input[type="submit"] {
      width: auto;
      @include font-size(14);
      line-height: 18px;
      line-height: 1.28571428571429;
      font-weight: $text-semi;
    }

  }

  @include screen-md {

    .form-template__feature__figcaption {
      display: none;
    }

    .hentry {

      .container-full {
        padding-left: 0;
        padding-right: 0;
      }

      /*Dev Note: this is NOT the way I'd have prefered, but with the sass:dist rules we can't nest @extend inside media queries */
      .gform_title {
        font-family: 'Libre Baskerville', serif;
        @include font-size(30);
        line-height: 1.33;
        letter-spacing: initial;
        text-transform: initial;
      }

    }

  }

  @include screen-md-up {

    .form-template__feature {
      margin-left: 0;
      margin-right: 32px;
    }

    .form-template__feature__figcaption {
      margin-top: 68px;
      margin-left: calc(100% - 175px);
    }

    .hentry {

      .form-skin {
        padding-top: 210px;
      }

      .gform_title,
      .gform_footer {
        margin-bottom: 25px;
        padding-left: 8px;
        padding-right: 8px;
      }

    }

  }
}