/**
 * Single
 */

.single {

  blockquote {
    width: 80%;
    margin-top: 32px;
    margin-bottom: 85px;
    margin-right: 0;
    quotes: "\201C""\201D";
    @extend %h4;
    @extend %serif;
    color: $black;
    line-height: 43px;
    line-height: 1.72;

    p {
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;
      letter-spacing: inherit;
    }

    &::before {
      position: absolute;
      @extend %sans-serif;
      @include font-size(98);
      font-weight: $text-bold;
      content: open-quote;
      margin-top: 10px;
      margin-left: -20%;
    }

  }

  .post__header__title {
    margin-bottom: 0;
  }

  .post__related_posts > .row,
  .post__content {
    margin-top: 32px;

    > :first-child {
      margin-top: 0;
    }

  }

  .card-grid__body,
  .related-post__meta {
    padding: 25px;
  }

  .related-post__meta {
    @extend %card__nav;
    font-weight: $text-normal;
    color: $grey;
  }

  @include screen-md-up {

    blockquote {
      margin-top: 55px;
      margin-bottom: 100px;
    }

    .post__related_posts > .row,
    .post__content {
      margin-top: 60px;
    }

    .card-grid__card {
      margin-top: 0;
      margin-bottom: $grid-gutter-width;
    }

  }
}