/**
 * content with staggered images Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.cp-content-with-staggered-images {
  overflow: hidden;
  margin-bottom: 128px;

  .cp-content-with-staggered-images__heading {
    @extend %h5;
    @extend %serif;
  }

  .cp-content-with-staggered-images__top-text {
  }

  .cp-content-with-staggered-images__bottom-text {

    p {
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }

    }

    .btn,
    .button,
    button {
      margin-top: 44px;
      margin-top: 3.14285714285714em;
    }

  }

  .cp-content-with-staggered-images__row-bg {
    position: relative;
    width: calc(100% + 60px);

    &::before {
      content: '';
      display: block;
      background-color: $peach;
      padding-top: 90%;
      position: absolute;
      top: 4em;
      left: 10%;
      width: 100%;
      z-index: -1;

      @include screen-xs {
        left: 0;
        padding-top: 100%;
      }
    }

  }

  .cp-content-with-staggered-images__img {

    &::before {
      content: '';
      display: block;
      padding-top: 130%;
    }
  }

  @include screen-xs {

    .cp-content-with-staggered-images__img {
      display: none;
    }

    .cp-content-with-staggered-images__img1 {
      margin-top: 0;
    }
  }

  @include screen-md {
    .cp-content-with-staggered-images__wrapper {
      margin-bottom: 30px;
    }

    .cp-content-with-staggered-images__img {
      height: 33vh;
    }

  }

  @include screen-lg-up {

    .cp-content-with-staggered-images__row-bg:before {
      padding-top: 40%;
    }

    .cp-content-with-staggered-images__img1 {
      margin-top: 60%;
    }

    .cp-content-with-staggered-images__img3 {
      margin-top: -60%;
    }

    .cp-content-with-staggered-images__bottom-text {
      margin-top: -10%;
    }
  }
}