/**
 * content with staggered images Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.cp-content-with-staggered-images {
  overflow: hidden;
}

.cp-content-with-staggered-images__top-text {
  width: 80%;
  padding-left: 3em;

  @include screen-sm {
    width: 66%;
    padding-left: 0;
  }

  @include screen-xs {
    width: 100%;
  }
}

.cp-content-with-staggered-images__bottom-text {
  width: 80%;
  margin-left: auto;
  padding-right: 3em;
  margin-top: -5em;

  @include screen-sm {
    width: 100%;
    padding-right: 0;
    padding-left: 33%;
    margin-left: 0;
    margin-top: 0;
  }

  @include screen-xs {
    margin-top: 0;
    padding-left: 0;
  }
}

.cp-content-with-staggered-images__row-bg {
  position: relative;

  &::before {
    content: '';
    display: block;
    background-color: currentColor;
    padding-top: 40%;
    position: absolute;
    top: 4em;
    left: 10%;
    width: 100%;
    z-index: -1;

    @include screen-xs {
      left: 0;
      padding-top: 100%;
    }
  }
}

.cp-content-with-staggered-images__img {
  flex: 1 1 auto;
  margin: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &::before {
    content: '';
    display: block;
    padding-top: 130%;
  }
}

.cp-content-with-staggered-images__img1 {
  margin-top: 60%;

  @include screen-xs {
    margin-top: 0;
  }
}

.cp-content-with-staggered-images__img2 {
  @include screen-xs {
    display: none;
  }
}

.cp-content-with-staggered-images__img3 {
  margin-top: -60%;

  @include screen-xs {
    display: none;
  }
}

// .cp-content-with-staggered-images__bg {
//   background-color: #E2A187;
//   position: absolute;
//   top: 40%;
//   left: 10%;
//   width: 100%;
//   height: 22em;
//   z-index: -1;

//   @include screen-md {
//     height: 17em;
//   }

//   @include screen-sm {
//     top: 33%;
//     height: 38%;
//   }

//   @include screen-xs {
//     top: 32%;
//     left: 0;
//     width: 105%;
//   }
// }

