/**
 * Conditions Content 1 Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.cp-conditions-content-1 {
  @extend %section-padding;

  .cp-conditions-content-1__box1 {
    width: 50%;
    margin-left: auto;
    padding-right: 12.5%;

    h2, h3, h4, h5, h6 {
      @extend %h4;
      @extend %serif;
    }

    @include screen-md {
      width: 70%;
    }

    @include screen-sm {
      width: 100%;
      padding-right: 0;
    }
  }

  .cp-conditions-content-1__title {
    text-align: right;
    padding-right: 37.5%;
    font-size: 1em;
    position: relative;
  }

  .cp-conditions-content-1__box2 {
    margin-top: 1em;
    margin-left: auto;
  }

  .cp-conditions-content-1__img1 {
    width: 10em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto #{$grid-gutter-width} 0;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }

  }

  .cp-conditions-content-1__img2 {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto 50px;

    &::before {
      content: '';
      display: block;
      padding-top: 80%;
    }
  }

  @include screen-md {

    .cp-conditions-content-1__images {
      display: none;
    }

    .cp-conditions-content-1__title {
      padding-right: 50%;
    }

  }

  @include screen-lg-up {

    .cp-conditions-content-1__title::before {
      display: inline-block;
      content: "";
      border-top: 4px solid $peach;
      width: 10em;
      position: absolute;
      right: 0;
      max-width: 100%;
    }

  }

}