/**
 * Service Details Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.cp-service-details {
  position: relative;
  background-color: $black;
  margin-top: -15em;
  margin-left: auto;
  padding-bottom: 50px;
  width: 100%;

  .cp-service-details__heading {
    color: $white;
  }

  .cp-service-details__wrapper {
    margin-top: 25px;
  }

  .cp-service-details__img1,
  .cp-service-details__img2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &::before {
      content: '';
      display: block;
      padding-top: 45%;
    }

  }

  .cp-service-details__left-content {
    * {
      color: $white;
    }
  }

  .cp-service-details__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .cp-service-details__list-item {
    width: 100%;
    @extend %p;
    color: $white;
  }

  @include screen-xs {

    .cp-service-details__img-box2 {
      display: none;
    }

  }

  @include screen-md {

    .cp-service-details__img1 {
      margin-top: -50px;
      margin-bottom: $grid-gutter-width;
    }

    .cp-service-details__img-row {
      justify-content: center;
    }

  }

  @include screen-md-up {
    width: 91.6666666667%;
    max-width: 91.6666666667%;
    flex: .9166666667 1 auto;
    padding-bottom: 109px;

    .cp-service-details__list-item {
      flex: 1 0.5 auto;
      width: calc(50% - 16px);
      padding-right: 16px;
    }

    .cp-service-details__img1,
    .cp-service-details__img2 {
      padding-top: 130%;
    }

    .cp-service-details__img1 {
      margin-top: -25%;
    }

    .cp-service-details__img2 {
      margin-top: -75%;
    }

    .cp-service-details__wrapper {
      margin-top: 109px;

      >:first-child {
        position: relative;

        &:after {
          position: absolute;
          top: 0;
          right: 16px;
          content: '';
          height: 100%;
          width: 1px;
          background-color: $white;
        }

      }

    }

  }

}