/**
 * Products Hero Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.cp-products-hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: calc( 100vh - 6em );
  margin-bottom: 3em;
  position: relative;

  @include screen-sm {
    height: auto;
  }
}

.cp-products-hero__container {
  max-width: 1280px;
  margin: auto;
}

.cp-products-hero__icon-col {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;

  @include screen-sm {

  }
}

.cp-products-hero__svg {
  font-size: 50vmin;
  color: $white;
  z-index: 2;
  // margin-bottom: 5vmin;
}

.cp-products-hero__img-1 {
  width: 33%;
  // padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  right: 0;
  top: 0;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  @include screen-sm {
    display: none;
  }
}

.cp-products-hero__img-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 34vh;
  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  @include screen-sm {
    margin-top: 0;
  }
}

.cp-products-hero__left-col {
  position: relative;
}

.cp-products-hero__right-col {

}

.cp-products-hero__img-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80%;
  margin: auto;

  &::before {
    content: '';
    display: block;
    padding-top: 135%;
  }

  @include screen-sm {
    display: none;
  }
}
