/**
 * Before and Afters Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.cp-before-and-afters {
  // background-color: $black;
  button {
    @extend %btn;
  }

  .cp-before-and-afters__container {
    padding-left: 0;
    padding-right: 0;
  }

  .cp-before-and-afters__prev,
  .cp-before-and-afters__next {
    position: absolute;
    bottom: -34px;
    padding: 27px;

    &:hover, &:focus {
      outline: none;
      color: $peach;
    }
  }

  .cp-before-and-afters__prev {
    right: 6em;

    &::after {
      position: absolute;
      top: calc(50% - 12.5px);
      right: 0;
      content: '';
      height: 25px;
      width: 1px;
      background-color: $black;
    }
  }

  .cp-before-and-afters__next {
    right: 0;
    padding-right: 0;
  }

  .cp-before-and-afters__heading {
    display: flex;
    background-color: $black;

    h2, h3, h4, h5, h6 {
      @extend %h3;
      color: $white;
      font-weight: $text-semi;
    }
  }

  .cp-before-and-afters__img {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .cp-before-and-afters__image-container {
    text-align: center;
  }

  .cp-before-and-afters__dots {
    list-style-type: none;
    display: flex;
    padding-top: 20px;

    li {
      flex: 0 0 auto;
      padding-right: 10px;
      line-height: 1;

      &.slick-active {
        button {
          background-color: $black;

          &:hover, &:focus {
            border-color: $black;
            background-color: $black;
          }

        }

      }

      button {

        &:hover, &:focus {
          border-color: $salmon;
          background-color: $salmon;
        }

      }

    }

    @include screen-sm {
      justify-content: center;
    }

    button {
      width: 13px;
      height: 13px;
      font-size: 0;
      background-color: $white;
      border: 1px solid $black;
    }
  }
}