.icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  align-self: center;
  justify-self: center;
}

//These are necessary
//values come from icomoon
.icon-LiftedLogic {
  width: 6.89453125em;
}

.icon-google-plus {
  width: 1.2861328125em;
}

.icon-facebook {
  width: 0.59375em;
}

.icon-instagram {
  width: 0.84375em;
}

.icon-pinterest {
  width: 0.71875em;
}

.icon-twitter {
  width: 0.9375em;
}

.icon-youtube {
  width: 0.84375em;
}

.icon-cp-snapchat {
  width: 1.25em;
}

.icon-cp-tumblr {
  width: 0.7138671875em;
}

.icon-cp-twitter {
  width: 1.1669921875em;
}

.icon-cp-facebook {
  width: 0.6923828125em;
}

.icon-TREAT-MENTS {
  width: 0.3662109375em;
}

.icon-ABOUT-CPB {
  width: 0.3935546875em;
}

.icon-BLOG {
  width: 0.2802734375em;
}

.icon-BODY-_-FACE {
  width: 0.3837890625em;
}

.icon-EVENTS {
  width: 0.515625em;
}

.icon-OUR-TEAM {
  width: 0.4365234375em;
}

.icon-TWO-TONED-CONTACT {
  width: 7.0986328125em;
}

.icon-Treatments-Horizontal {
  width: 3.0712890625em;
}

.icon-Heart {
  width: 0.962890625em;
}

.icon-PRODUCTS {
  width: 0.396484375em;
}

.icon-REJUVE-NATE {
  width: 0.349609375em;
}
