.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

//These are necessary
//values come from icomoon
.icon-LiftedLogic {
  width: 6.89453125em;
}

.icon-google-plus {
  width: 1.2861328125em;
}

.icon-facebook {
  width: 0.59375em;
}

.icon-instagram {
  width: 0.84375em;
}

.icon-pinterest {
  width: 0.71875em;
}

.icon-twitter {
  width: 0.9375em;
}

.icon-youtube {
  width: 0.84375em;
}

.icon-cp-snapchat {
  width: 1.25em;
}

.icon-cp-tumblr {
  width: 0.7138671875em;
}

.icon-cp-twitter {
  width: 1.1669921875em;
}

.icon-cp-facebook {
  width: 0.6923828125em;
}

.icon-ABOUT-CPB {
  width: 0.3955078125em;
}

.icon-BLOG {
  width: 0.2314453125em;
}

.icon-BODY-_-FACE {
  width: 0.3408203125em;
}

.icon-EVENTS {
  width: 0.509765625em;
}

.icon-OUR-TEAM {
  width: 0.416015625em;
}

.icon-PRODUCTS {
  width: 0.384765625em;
}

.icon-REJUVE-NATE {
  width: 0.3525390625em;
}

.icon-TREAT-MENTS {
  width: 0.3232421875em;
}

.icon-TWO-TONED-CONTACT {
  width: 7.61328125em;
}

.icon-CP-Logo {
  width: 0.8203125em;
}

.icon-Footer-Logo-White {
  width: 2.2861328125em;
}

.icon-Logo {
  width: 2.2861328125em;
}

