/**
 * Navbar styles
 */

.header__logo {
  font-size: 2em;
  vertical-align: middle;
}

.navbar-header {
  position: fixed;
  z-index: 3;
  background-color: $white;
  width: 100%;
}

.top-nav {
  display: flex;
  align-items: center;
  height: 3em;
  padding: 0 3em;

  button {
    @extend %sans-serif;
    font-size: .8125em;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
  }

  a {
    @extend %sans-serif;
    font-size: .8125em;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    line-height: 3;
  }

  .header__top-left {
    flex: 1 1 auto;
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      li:first-child {
        margin-right: 1em;
      }

      li:nth-child(2) {
        border-right: 1.5px solid #E2A187;

        @include screen-sm {
          display: none;
        }
      }

      li:last-child {
        @include screen-sm {
          display: none;
        }
      }
    }
  }

  .header__top-right {
    flex: 1 1 auto;
    ul {
      display: flex;
      justify-content: flex-end;
    }

    .icon {
      vertical-align: middle;

      @include screen-md {
        font-size: 2em;
      }
    }

    @include screen-sm {
      display: none;
    }
  }

  @include screen-sm {
    padding: 0 1em;
  }
}

.header__top-right-text {
  display: inline-block;

  @include screen-md {
    display: none;
  }
}

.side-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 3em;
  background-color: $white;
  z-index: 3;

  button {
    transform: rotate(-90deg);
     @extend %sans-serif;
    font-size: .8125em;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
    border-top: 3px solid #e2a187;
    border-bottom: 3px solid #e2a187;
    border-radius: 0;
    padding: 7px 15px;

    &.active {
        border-top: 3px solid $black;
        border-bottom: 3px solid $black;
    }
  }


  @include screen-sm {
    display: block;
    position: fixed;
    left: unset;
    top: .5em;
    right: 2em;
    background: none;
    height: auto;

    button {
      transform: none;
      padding: 4px;
    }
  }
}

.header__right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 3em;
  background-color: $white;
  z-index: 3;

  span {
    transform: rotate(-90deg);
    padding: .2em;
    @extend %sans-serif;
    font-size: .8125em;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0;
    white-space: nowrap;
    position: absolute;
  }

  ul {
    align-self: flex-end;
  }

  @include screen-sm {
    display: none;
  }
}

// Top nav
.navbar {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;

  ul {
    list-style-type: none;

    li {
      @extend %sans-serif;
      // line-height: 1.23;
      letter-spacing: 3px;
    }
  }
}

// Drop down nav

.primary-nav {
    background-color: $black;
    width: 100%;
    height: 100vh;
    padding: 5em 10em;
    overflow: scroll;

    @include screen-md {
      padding: 5em;
    }

    @include screen-sm {
      padding: 2em;
    }

    ul li a {
      color: $white;
    }

    h3 {
      color: $white;
    }
}

.header__hours li {
  color: $white;
}

.header__menu-box {
  display: flex;
  flex-wrap: wrap;
}

.header__menu-section {
  width: calc(100%/3);
  flex: 1 1 auto;
  padding-bottom: 2em;

  @include screen-sm {
    width: 50%;
  }

  @include screen-xs {
    width: 100%;
    padding-bottom: 0;
  }

  .icon {
    color: $white;
    font-size: 7em;
  }

  ul {
    margin-top: 0;

    li {
      letter-spacing: 0;
      line-height: 2;

      @include screen-sm {
        line-height: 1.5;
      }
    }
  }


  p {
    margin-top: 0;
    color: $white;
  }

  a {
    color: $white;
  }
}

.gmap {
  padding-top: 50%;
}

#logo {
  @include screen-sm {
    display: none;
  }
}

.header__menu-heading {
  color: $white;
}

.header__tab-title {
  font-size: 4em;
  @include screen-md {
    font-size: 3em;
  }
  @include screen-sm {
    font-size: 2em;
    letter-spacing: 1px;
  }
}

.header__tab-btn-area {
  display: flex;

  @include screen-sm {
    flex-wrap: wrap;
  }
}

.header__tab-btn {
  color: $white;
  padding: 1em;
  border: 1px solid $white;
  flex: 1 1 100%;
  margin: 2em;
}

.header__map-info {
  padding-top: 3em;
  color: $white;

  .icon {
    font-size: 6em;
  }
  a {
    color: $white;
  }
}



.primary-nav {
  display: none;
  position: absolute;
}

.dropdown-menu.collapsed {
  display: none;
}

.navbar-toggle {

  background-color: transparent;
  border-color: #000;
  min-width: 6em;

  &.active {
    color: $white;
    background-color: $black;

    span {
      display: none;
    }

    .icon {
      display: none;
    }

    &:after {
      content: 'close';
    }
  }

}

.dropdown-menu {

  @include screen-nav-mobile {
    position: relative;
    overflow: hidden;
  }
}

// navbar-toggle
// ==================================================
.navbar-toggle {
  padding: 9px;
  cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  outline: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  @include screen-nav-mobile {
    display: inline-block;
  }

  &:hover {
    opacity: 0.7;
  }

  &.open {
    .navbar-toggle__inner {
      transform: rotate(90deg);
      background-color: transparent;

      transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1),
      background-color 0s 0.22s linear;

      &::before {
        top: 0;
        transform: rotate(-45deg);
        transition: top 0.1s 0.12s ease-out,
        transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      &::after {
        bottom: 0;
        transform: rotate(45deg);
        transition: bottom 0.1s 0.12s ease-out,
        transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }

}

.navbar-toggle__box {
  width: 22px;
  height: 2px * 3 + 4px * 2;
  display: inline-block;
  position: relative;
}

.navbar-toggle__inner {
  display: block;
  top: 50%;
  margin-top: 2px / -2;
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
              background-color 0s 0.1s linear;

  &,
  &::before,
  &::after {
    width: 22px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    position: absolute;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: (4px + 2px) * -1;
    transition: top 0.1s 0.1s ease-in,
    transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &::after {
    bottom: (4px + 2px) * -1;
    transition: bottom 0.1s 0.1s ease-in,
    transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

