/**
 * Navbar styles
 */

.header__logo {
  font-size: 2em;
  vertical-align: middle;
  color: $black;
  fill: $black;
}

.navbar-header {
  position: fixed;
  z-index: 3;
  background-color: $white;
  width: 100%;
  left: 0;
}

.top-nav {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 3em;
  padding: 0 3em;

  @include screen-sm {
    padding: 0;
  }

  a, button, .button, .btn {
    display: flex;
    align-items: center;
    padding: 0 0.89285714285714em;
    border-radius: 0;
    border: none;
    @extend %sans-serif;
    font-size: .8125em;
    font-weight: $text-bold;
    text-transform: uppercase;
    color: $black;
  }

  a {
    letter-spacing: initial;
  }

  button, .button, .btn {
    letter-spacing: 3px;
  }

  .header__top-right,
  .header__top-left {
    display: flex;
    flex: 0 1 auto;

    ul {
      display: flex;
      align-items: stretch;
      margin-top: 0;
      margin-bottom: 0;
    }

    .navbar-toggle.active {
      padding: 0 38px;
    }

  }

  .header__top-left {

    ul {
      justify-content: flex-start;

      li:first-child {
        margin-right: 4.28571428571429em;

        a {
          padding-right: 0;
          padding-left: 0;
        }
      }

      li:nth-child(2) {
        position: relative;

        &:after {
          content: '';
          margin-top: auto;
          margin-bottom: auto;
          margin-right: 1px;
          width: 2px;
          height: 25px;
          background-color: $peach;
        }

        &.no-bar:after {
          background-color: transparent;
        }

        @include screen-sm {
          display: none;
        }

      }

      li:last-child {
        @include screen-sm {
          display: none;
        }
      }
    }

    .navbar-toggle.navbar__conditions.active {
      border-left: solid 11px $peach;
    }

    .navbar-toggle.navbar__services.active {
      border-right: solid 11px $peach;
    }
  }

  .header__top-right {

    ul {
      justify-content: flex-end;
    }

    .icon {
      display: inline-flex;
      margin-right: 12px;
      transform: scale(1.4);

      &.icon-cp-location {
        margin-top: 2px;
        transform: scale(1.6);
      }

      &.icon-question {
        transform: scale(1.2);
      }

      @include screen-md {
        font-size: 2em;
      }
    }

    @include screen-sm {
      display: none;
    }
  }

  @include screen-sm {
    padding: 0 1em;
  }
}

.header__top-right-text {
  display: inline-flex;

  @include screen-md {
    display: none;
  }
}

.header__right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 3em;
  background-color: $white;
  z-index: 3;

  span {
    transform: rotate(-90deg);
    padding: .2em;
    @extend %sans-serif;
    font-size: .8125em;
    letter-spacing: 3px;
    font-weight: $text-semi;
    text-transform: uppercase;
    border-radius: 0;
    white-space: nowrap;
    position: absolute;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;

    .icon-cp-twitter {
      width: 13.41px;
      height: 11.2px;
    }

    .icon-cp-facebook {
      width: 7.22px;
      height: 12.6px;
    }

    .icon-cp-snapchat {
      width: 13.41px;
      height: 11.63px;
    }

    .icon-cp-instagram {
      width: 11px;
      height: 11px;
    }

    .icon-cp-tumbler {
      width: 8.4px;
      height: 13.33px;
    }
  }

  @include screen-sm {
    display: none;
  }
}

// Top nav
.navbar {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;

  ul {
    list-style-type: none;

    li {
      display: inline-flex;
      @extend %sans-serif;
      letter-spacing: 3px;

      &:last-child a {
        padding-right: 0;
      }
    }
  }
}

.header__right ul li {
  text-align: center;
}

// Drop down nav

.primary-nav {
  display: none;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  padding: 5em 10em;
  overflow: scroll;
  transform-origin: center top !important;
  background-color: $black;

  @include screen-md {
    padding: 5em;
  }

  @include screen-sm {
    padding: 2em;
  }

  ul li a {
    color: $white;
  }

  h3 {
    color: $white;
  }

  .row.stretch {
    height: 100%;
  }
}

.header__hours li {
  color: $white;
}

.header__menu-box {
  display: flex;
  flex-wrap: wrap;
}

.header__menu-section {
  width: calc(100%/3);
  flex: 1 1 auto;
  margin-bottom: 56px;

  @include screen-sm {
    width: 50%;
  }

  @include screen-xs {
    width: 100%;
    padding-bottom: 0;
  }

  .icon {
    color: $white;
    font-size: 7em;
  }

  ul {
    margin: 0 auto;

    li {
      @include font-size(13);
      font-weight: $text-normal;
      letter-spacing: 0;
      line-height: 24px;
      line-height: 1.84615384615385;

      @include screen-lg-up {
        @include font-size(15);
        line-height: 28px;
        line-height: 1.86666666666667;
      }

      a {
        font-size: inherit;
        line-height: inherit;
      }
    }
  }


  p {
    margin-top: 0;
    color: $white;
  }

  a {
    color: $white;
  }
}

.header__map-container {
  position: relative;
  padding-top: 50%;

  @include screen-sm{
    padding-top: 0;
  }
}

.gmap {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;

  @include screen-sm {
    position: relative;
    height: 20em;
  }
}

.header__map-info {
  color: $white;
  position: absolute;
  top: 1em;
  left: 1em;
  background-color: $black;
  padding: 4vh;

  @include screen-sm {
    position: relative;
  }

  .icon {
    font-size: 6em;
  }
  a {
    color: $white;
  }
}

#logo {
  @include screen-sm {
    display: none;
  }
}

#menu {
  .header__menu-section .icon {
    color: $peach;
    fill: lighten($peach, 12.5%);
  }
}

.header__menu-heading {
  @extend %h6;
  @extend %serif;
  margin: 0 auto 23px auto;
  color: $white;
}

.header__tab-title {
  @extend %h0;
}

.header__tab-btn-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 816px;
}

.header__tab-btn {
  max-width: 265px;
  flex: 1 0 auto;
  margin: 25px;
  padding: 20px 26px;
  border: 1px solid $silver;
  @include font-size(15);
  font-weigth: $text-normal;
  line-height: 19px;
  line-height: 1.26666666666667;
  color: $white;

  &:hover {
    border-color: $white;
    color: $white;
  }
}

.dropdown-menu.collapsed {
  display: none;
}

.navbar-toggle {

  background-color: transparent;
  border-color: $black;
  min-width: 6em;

  &.active {
    letter-spacing: 0;
    color: $white;
    background-color: $black;

    span {
      display: none;
    }

    .icon {
      display: none;
    }

    &:after {
      content: 'Close';
    }
  }

}

.dropdown-menu {

  @include screen-nav-mobile {
    position: relative;
    overflow: hidden;
  }
}

// navbar-toggle
// ==================================================
.navbar-toggle {
/*  padding: 9px;*/
  cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  outline: none;
  border: 0;
  margin: 0;
  overflow: visible;

  @include screen-nav-mobile {
    display: inline-block;
  }

}

.navbar-toggle__box {
  width: 22px;
  height: 2px * 3 + 4px * 2;
  display: inline-block;
  position: relative;
}

.navbar-toggle__inner {
  display: block;
  top: 50%;
  margin-top: 2px / -2;
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
              background-color 0s 0.1s linear;
}

