/**
 * Post
 *   Used on single post pages
 */

.post {
  padding-bottom: 50px;

  @include screen-md-up {
    padding-bottom: 100px;
  }
}

.post__headline {
  position: absolute;
  left: 8.33333334%;
  top: 10%;
  bottom: 0;
  height: 40%;
  width: auto;
  color: $white;
}

.post__header {
  flex-wrap: wrap;
  align-items: flex-end;
  height: 75vh;
  max-height: 702px;
  min-height: 620px;
}

.post__header__title, 
.post__header__supertitle {
  margin-left: 8.33333334%;
  margin-right: 8.33333334%;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.post__header__title {
  @extend %h5;
  @extend %serif;
  letter-spacing: initial;
  text-transform: initial;
  margin-bottom: 32px;
}

.post__header__supertitle {
  @extend %h1;
  display: block;
  margin-top: 32px;
}

.post__content {
}

@include screen-md-up {
  .post__header__supertitle {
    margin-top: 50px;
  }

  .post__header__title {
    margin-bottom: 50px;
  }
}

.post__footer {

}

.post__footer__nav {

}

.posts__comments {

}

.post__meta {
  @extend %card__nav;
}
