/**
 * Post
 *   Used on single post pages
 */

.post {
  padding-bottom: 50px;

  @include screen-md-up {
    padding-bottom: 100px;
  }
}

.post__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 75vh;
  max-height: 702px;
}

.post__header__title {

}

.post__content {
}

.post__footer {

}

.post__footer__nav {

}

.posts__comments {

}

.post__meta {
  @extend %card__nav;
}
