.side-nav {
  position: fixed;
  top: 100vh;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100vh;
  height: 3em;
  background-color: $white;
  z-index: 3;
  transform: rotate(-90deg);
  transform-origin: left top;

  button {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 7px 13px;
    border-top: 3px solid #e2a187;
    border-right: none;
    border-bottom: 3px solid #e2a187;
    border-left: none;
    border-radius: 0;
     @extend %sans-serif;
    font-size: .8125em;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;

    &.active {
      padding-top: 0;
      padding-bottom: 0;
      border-top-color: $black;
      border-right: none;
      border-bottom-color: $black;
      border-left: none;
      margin-top: 0;
      margin-bottom: 0;

      &:hover {
        background-color: $black;
      }
    }
  }

  @include screen-sm {
    display: block;
    position: fixed;
    left: unset;
    top: .5em;
    right: 2em;
    background: none;
    height: auto;

    button {
      transform: none;
      padding: 4px;
    }
  }
}