/**
 * Two Columns Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.cp-two-columns {
  padding: 4em 0 20em;

  .cp-two-columns__left-heading {
    @extend %sans-serif;
    font-size: 5.3125em;
    font-weight: 500;
    letter-spacing: 10.63px;
    line-height: 1.211;
    text-transform: uppercase;
    position: relative;
    display: block;
    margin: 1em 0 2em 1.5em;

    &::before {
      display: inline-block;
      content: "";
      border-top: .08em solid currentColor;
      width: 2em;
      position: absolute;
      top: calc(100% - .6em);
      right: calc(100% + .25em);
      max-width: 100%;
    }

    @include screen-lg {
      font-size: 4em;
    }
  }

  .cp-two-columns__left-text,
  .cp-two-columns__right-text {
    width: 85%;

    h2, h3, h4, h5, h6 {
      margin-bottom: 12px;
    }
  }

  .cp-two-columns__left-text {
    margin-left: auto;
    padding-right: 1em;
  }

  .cp-two-columns__right-text {
    padding-left: 1em;
  }

  @include screen-md {

    .cp-two-columns__left-text,
    .cp-two-columns__right-text {
       width: 100%;
    }

  }

  @include screen-sm {

    .cp-two-columns__left-heading {
      font-size: 2em;
    }

    .cp-two-columns__right-text {
      padding-left: 0;
    }

    .cp-two-columns__left-text {
      padding-right: 0;
    }
  }

  @include screen-md-up {

    .cp-two-columns__left-text,
    .cp-two-columns__right-text {

      h2, h3, h4, h5, h6 {
        margin-bottom: 25px;
      }

    }

    .cp-two-columns__left-heading {
      margin-bottom: 151px;
    }

  }
}