/**
 * Two Columns Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.cp-two-columns {
  padding: 4em 0 20em;
}

.cp-two-columns__left-heading {
  color: #000000;
  font-family: Montserrat;
  font-size: 5.3125em;
  font-weight: 500;
  letter-spacing: 10.63px;
  line-height: 1.211;
  text-transform: uppercase;
  position: relative;
  display: block;
  margin: 1em 0 2em 1.5em;

  &::before {
    display: inline-block;
    content: "";
    border-top: .08em solid currentColor;
    width: 2em;
    position: absolute;
    top: calc(100% - .6em);
    right: calc(100% + .25em);
    max-width: 100%;
  }

  @include screen-lg {
    font-size: 4em;
  }
  @include screen-sm {
    font-size: 2em;
  }
}

.cp-two-columns__left-text {
  width: 85%;
  margin-left: auto;
  padding-right: 1em;

  @include screen-md {
    width: 100%;
  }

  @include screen-sm {
    padding-right: 0;
  }
}

.cp-two-columns__right-text {
  width: 85%;
  padding-left: 1em;

  @include screen-md {
    width: 100%;
  }

  @include screen-sm {
    padding-left: 0;
  }
}
