/**
 * testimonial slider Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.cp-testimonial-slider {
  overflow: hidden;
  padding: 3em 0;

  .cp-testimonial-slider__container {
    position: relative;
    padding: 8em 0 4em;

    @include screen-sm {
      padding: 2em 0;
    }
  }

  .cp-testimonial-slider__box1 {
    position: absolute;
    background-color: $black;
    height: 10em;
    width: 50%;
    top: 0;
    z-index: -1;
    left: 13%;

    @include screen-sm {
      width: 60%;
      left: 0;
    }
  }

  .cp-testimonial-slider__box2 {
    position: absolute;
    background-color: $salmon;
    height: 10em;
    width: 40%;
    top: 4em;
    right: 13%;
    z-index: -2;

    @include screen-sm {
      right: 0;
      top: 1em;
    }
  }

  .cp-testimonial-slider__box3 {
    position: absolute;
    background-color: $black;
    height: 26em;
    width: 80%;
    bottom: 0;
    z-index: -1;
    left: 0;

    @include screen-sm {

    }
  }

  .cp-testimonial-slider__bg-img {
    position: relative;
    height: 36em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include screen-sm {
      height: 31em;
    }
  }


  .cp-testimonial-slider__title-container {
    position: relative;
    width: 100%;
    margin: 0 -15px;
    height: 12em;
  }

  .cp-testimonial-slider__title {
    @extend %h0;
    @extend %sans-serif;
    color: $black;
    background: linear-gradient(270deg, rgba(254,235,227,0) 0%, #FBD3C3 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding-left: calc(4em / 5.3125);

    @include screen-sm {
      font-size: 3em;
      bottom: unset;
      top: 0;
    }

    @include screen-xs {
      letter-spacing: 7.63px;
      padding-left: 0;
    }
  }

  .cp-testimonial-slider__blockquote {
    @extend %p;
    @extend %sans-serif;
    margin-top: 40px;
    color: $grey;
  }

  .cp-testimonial-slider__heart-svg {
    position: absolute;
    left: 60%;
    top: .2em;
    font-size: 9em;

    svg {
      fill: $peach;
    }

    @include screen-md {
      left: 75%;
    }

    @include screen-sm {
      font-size: 4em;
      top: -.2em;
    }

    @include screen-xs {
      left: unset;
      right: -.2em;
    }
  }

  .cp-testimonial-slider__slider {
    position: absolute;
    bottom: 0;
    left: 4em;
    width: 30em;

    @include screen-sm {
      width: 95%;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }


  .cp-testimonial-slider__slide {
    width: 100%;
    height: 24em;
    padding: 99px;
    background-color: $white;

    &.slick-slide {
      display: flex;
      align-items: center;
    }
  }

  .cp-testimonial-slider__open-quote {
    quotes: "\201C""\201D";
    line-height: .5;
    color: $black;

    &::before {
      @extend %sans-serif;
      font-size: 6.25em;
      font-weight: $text-bold;
      content: open-quote;
      margin-top: -50px;
      margin-left: -38px;

      @include screen-xs {
        margin-top: -25px;
      }
    }
  }

  .cp-testimonial-slider__name {
    @extend %h6;
    @extend %serif;
    color: $black;
  }

  .cp-testimonial-slider__index {
    position: absolute;
    top: 35%;
    right: 3em;
  }

  .cp-testimonial-slider__stars {

    .icon-star {
      fill: $black;
    }

  }

  .cp-testimonial-slider__chev-left {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    background-color: transparent;
    border: none;
    transform: translateY(-7%);
  }

  .cp-testimonial-slider__chev-right {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
    background-color: transparent;
    border: none;
    transform: translateY(-7%);
  }

  .cp-testimonial-slider__index {
    ol {
      counter-reset: item;
      list-style-type: none;
      padding: 0;

      li {
        @extend %h2;
        @extend %serif;
        color: $black;
        display: flex;
        margin-bottom: 1em;
        align-items: center;
        cursor: pointer;

        &:before {
          content: counter(item, decimal-leading-zero);
          counter-increment: item;
          margin-right: 1em;
          display: block;
        }

        &.active {

          &::after {
            content: "";
            border-top: 1px solid $black;
            width: 10em;
            position: absolute;
            left: -2em;
          }
        }
      }
    }

    @include screen-sm {
      display: none;
    }
  }

  .cp-testimonial-slider__number::after {
    &.active {
      &::after {
        content: "";
        border-top: 1px solid $black;
      }
    }
  }

}