/**
 * Staggered Content Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.cp-staggered-content {

}

.cp-staggered-content__box1 {
  width: 50%;
  margin-left: auto;
  padding-right: 12.5%;

  @include screen-md {
    width: 70%;
  }

  @include screen-sm {
    width: 100%;
  }
}

.cp-staggered-content__title {
  text-align: right;
  padding-right: 12.5%;
  font-family: Montserrat;
  font-size: 5.3125em;
  font-weight: 500;
  letter-spacing: 10.63px;
  line-height: 1.211;
  text-transform: uppercase;
  position: relative;
  max-width: 8em;
  margin-right: 0;

  &::before {
    display: inline-block;
    content: "";
    border-top: .08em solid black;
    width: 1.7em;
    position: absolute;
    left: 0;
    top: calc(100% - .6em);
    max-width: 100%;
  }

  @include screen-sm {
    font-size: 3em;
    padding-right: 0;
  }

}

.cp-staggered-content__box2 {
  margin-top: 5em;
  width: 75%;
  margin-right: auto;

  @include screen-md {
    margin-top: 0;
  }
}

.cp-staggered-content__logo {
  font-size: 4em;
  margin-bottom: .5em;

  @include screen-md {
    display: none;
  }
}

.cp-staggered-content__image {
  width: 4em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}
