/**
 * Staggered Content Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.cp-staggered-content {

  &.black {

    p, li, dt, dd, h1, h2, h3, h4, h5, h6, td, th {
      color: $white;
    }

  }

  .cp-staggered-content__box1,
  .cp-staggered-content__box2 {

      h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        @extend %serif;
        margin-bottom: 24px;
      }

    }

  .cp-staggered-content__box1 {
    width: calc(75% - 16px);
    margin-left: auto;
  }

  .cp-staggered-content__title {
    text-align: right;
    padding-right: 12.5%;
    @extend %sans-serif;
    font-size: 5.3125em;
    font-weight: $text-bold;
    letter-spacing: 10.63px;
    line-height: 1.211;
    text-transform: uppercase;
    position: relative;
    max-width: 8em;
    margin-right: 0;

    &::before {
      display: inline-block;
      content: "";
      border-top: .08em solid currentColor;
      width: 1.7em;
      position: absolute;
      left: 0;
      top: calc(100% - .6em);
      max-width: 100%;
    }

  }

  .cp-staggered-content__box2 {
    margin-top: auto;
    margin-right: auto;
  }

  .cp-staggered-content__logo {
    display: none;
    width: 79px;
    margin-bottom: 60px;
    height: 100px;
    fill: lighten($peach, 12.5%);
  }

  .cp-staggered-content__image {
    width: 10em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto 109px;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  @include screen-sm {
    .cp-staggered-content__box1,
    .cp-staggered-content__box2 {
      width: 100%;
    }

    .cp-staggered-content__box1 {
      padding-right: 0;
    }

    .cp-staggered-content__title {
      font-size: 3em;
      padding-right: 0;
    }

    .cp-staggered-content__image {
      display: none;
    }
  }

  @include screen-sm-only {

    .cp-staggered-content__box1,
    .cp-staggered-content__box2 {

      h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        br {
          display: none;
        }
      }

    }

    .cp-staggered-content__image {
      width: 100%;
      height: 33vh;
      margin-bottom: 50px;
    }

  }

  @include screen-md-up {

    .cp-staggered-content__box1 {
      width: 42.5%;
      margin-top: 86px;
    }

    .cp-staggered-content__title {
      margin-top: 121px;
    }

    .cp-staggered-content__box2 {
      margin-top: 172px;
    }

    .cp-staggered-content__logo {
      display: block;
    }

    .cp-staggered-content__image {
      margin-bottom: 219px;
    }

  }

}